.nav-link:hover {
  background: #5e6472;
  border: 1px solid white;
  color: white;
  font-weight: 500;
  border-radius: 6px;
}

/*Showcase*/

#showcase {
  background: url("") no-repeat center center/cover;
  height: 100vh;
}

#showcase .showcase-content {
  color: white;
  text-align: center;
  align-items: center;
  padding-top: 350px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 112.5%;
  width: 100%;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

#carousel img {
  width: 900px;
  height: 480px;
}

.heading-content {
  padding-top: 100px;
}
